Repository gorakhargosh/watchdog, pull requests merged in 2020-12, with the labels that each got.

#709 [windows] winapi.BUFFER_SIZE now defaults to 64000 (instead of 2048)
  changelog.rst
  src/watchdog/observers/winapi.py
Labels: improvement, windows

#716 Fixes for native fs-events
  src/watchdog/observers/fsevents.py
  src/watchdog_fsevents.c
  tests/test_fsevents.py
  tox.ini
Labels: bug, fsevents-c, improvement

#717 Python 3 version of #716
  src/watchdog_fsevents.c
  tests/test_fsevents.py
Labels: bug, fsevents-c, improvement

#722 Fix missing `event_id` attribute in macOS emitter
  changelog.rst
  src/watchdog_fsevents.c
Labels: bug, fsevents-c

#725 Don't pass event flag as ID on macOS
  src/watchdog_fsevents.c
Labels: bug, fsevents-c

#726 Return byte paths if a byte path was given on macOS
  src/watchdog/observers/fsevents.py
Labels: bug, fsevents

#727 Fixes missing notification for deletion of watched dir on macOS
  src/watchdog/observers/fsevents.py
  src/watchdog/observers/inotify.py
  src/watchdog/observers/read_directory_changes.py
  src/watchdog_fsevents.c
  tests/test_emitter.py
  tests/test_fsevents.py
  tests/test_inotify_c.py
Labels: bug, fsevents-c
