Repository gorakhargosh/watchdog, pull requests merged in 2021-02, with the labels that each got.

#754 Refactor handling of coalesced events
  src/watchdog/observers/fsevents.py
  src/watchdog/observers/inotify_c.py
  src/watchdog_fsevents.c
  tests/shell.py
  tests/test_emitter.py
Labels: fsevents-c

#764 Moved the CI from Travis-CI to GitHub Actions (fixes #751)
  .github/workflows/build-and-publish.yml
  .github/workflows/tests.yml
  .travis.yml
  README.rst
  changelog.rst
Labels: improvement

#766 Add missing exception objects
  changelog.rst
  src/watchdog_fsevents.c
  tests/test_fsevents.py
Labels: bug, fsevents-c
