Repository gorakhargosh/watchdog, pull requests merged in 2021-05, with the labels that each got.

#779 Add support for non-recursive watches in FSEventsEmitter
  changelog.rst
  src/watchdog/observers/fsevents.py
  tests/test_emitter.py
Labels: fsevents

#783 Add the `--debug-force-*` arguments to `watchmedo tricks`
  changelog.rst
  src/watchdog/watchmedo.py
Labels: watchmedo

#776 _load_libc is not needed
  src/watchdog/observers/inotify_c.py
Labels: improvement, inotify

#786 [mac] Fix callback exceptions when the watcher is deleted but still receiving events
  changelog.rst
  src/watchdog/observers/fsevents.py
  src/watchdog_fsevents.c
  tests/test_fsevents.py
Labels: bug, fsevents

#799 Fix relative path handling for non-recursive watch in FSEventsObserver
  changelog.rst
  src/watchdog/observers/fsevents.py
  tests/test_fsevents.py
Labels: fsevents
